
.wy-side-nav-search {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 80%);
}

.wy-side-nav-search, .wy-nav-top {
    /* background: #272525; */
}